@media screen and (max-width: 1024px){
  .header__btn{
    display: none;
  }
}
@media screen and (max-width: 768px){
  .tour-pack-title {
    text-align: center;
  }
  .tour-pack__vip__comfort__box__subtitle{
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 425px) {
  .header__img{
    display: none;
  }
  .crumbs {
    width: 85%;
  }
  .tour-pack__offer__box-subtitle{
    margin: 10px;
  }
  .tour-pack__privilege__box-text {
    padding: 30px 40px;
  }
  .tour-pack__privilege-title b{
    font-size: 2.4rem;
  }
  .tour-pack__vip-title{
    font-size: 1.4rem;
  }
  .tour-pack__vip__box {
    margin-bottom: 0;
  }
  .tour-pack__vip__box-title{
    text-align: center;
    font-size: 2.5rem;
  }
  .tour-pack__vip__box__img {
    flex-direction: column;
  }
  .tour-pack__vip__box__img img {
    width: 100%;
  }
  .tour-pack__vip__comfort-title {
    text-align: center;
    font-size: 2.5rem;
  }
  .tour-pack__vip__comfort-txt{
    font-size: 1.2rem;
    & b{
      font-size: 1.3rem;
    }
  }
  .tour-pack__vip__comfort-marked{
    font-size: 1.2rem;
  }
  .tour-pack__vip__comfort__over-list-point span {
    font-size: 1.2rem;
  }
  .tour-pack__vip__comfort__box-title {
    font-size: 2.2rem;
  }
  .places-title {
    font-size: 2.4rem;
  }
  .tour-pack__vip__comfort__over {
    padding: 0 20px;
  }
  .tour-pack__vip__comfort__over-title{
    font-size: 1.8rem;
  }
  .tour-pack__vip__comfort__box__subtitle {
    font-size: 0.7rem;
    & span{
      padding: 20px 10px 10px;
    }
  }
  .tour-pack__vip__comfort__box-text {
    padding: 20px;
  }
  .tour-pack__vip__comfort__box__txt {
    font-size: .9rem;
  }
  .tour-pack__vip__comfort__box-request a {
    font-size: 3rem;
  }
  .tour-pack__vip__comfort__children {
    padding: 0 20px;
  }
  .tour-pack__vip__comfort__children-title {
    font-size: 1.8rem;
  }
  .form-row {
    flex-direction: column;
  }
  .places__box-text {
    padding: 25px;
  }
  .menu.open {
    width: 85%;
  }
  .menu__dropdown-opener__overlay {
    width: 15%;
  }


}
@media screen and (max-width: 375px) {
  body{
    width: 99.8%;
  }
  .tour-pack__vip__box-title {
    padding: 0 10px;
    font-size: 2.3rem;
  }
  .tour-pack__vip__comfort-title {
    font-size: 2.3rem;
  }
  .tour-pack__offer__box-subtitle b {
    font-size: 3.2rem;
  }
  .tour-pack__privilege-title b {
    font-size: 2.7rem;
  }
  .tour-pack__privilege__box-text {
    padding: 15px;
  }
  .tour-pack__vip__comfort__over-title {
    font-size: 1.5rem;
  }
  .tour-pack__vip__comfort__over-list-point span {
    font-size: 1rem;
  }
  .tour-pack__vip__comfort__box__subtitle {
    font-size: 0.6rem;
  }
  .tour-pack__vip__comfort__box__txt {
    font-size: 0.6rem;
  }
  .tour-pack__vip__comfort__box-request a {
    font-size: 2.4rem;
  }
  .tour-pack__vip__comfort__children-title {
    font-size: 1.4rem;
  }
  .tour-pack__vip__comfort__children-list-point span {
    font-size: 1rem;
  }
  .places__box-text {
    padding: 5px;
  }
  .tour-pack__vip__comfort__box-text {
    padding: 15px;
  }
  .tour-pack__offer__box-order {
    margin: 35px 20px 65px;
  }
  .crumbs {
    width: 80%;
  }
  .form-item{
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 320px) {
  html{
    font-size: 12px;
  }
}