&__form{
  position: relative;
  display: flex;
  width: 100%;
  background-color: #f8f8f8;
  align-items: center;
  justify-content: center;

  & .form{
    &__wrap{
      position: relative;
      display: flex;
      width: 100%;
      max-width: 1170px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 70px 0 30px;
    }
    &__title{
      color: $dark_blue;
      line-height: 30px;
      font-family: "Futura Demi C";
      font-size: 30px;
      font-weight: 600;
    }
    &__subtitle{
      color: $dark_blue;
      font-family: "Futura Book C";
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
    }
    &__box {
      margin-top: 20px;
      position: relative;
      display: flex;
      width: 100%;
      max-width: 750px;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &__input{
      &--small{
        @include request_input;
        font-size: 12px;
        width: 30%;
        margin: 20px 0;
      }
      &--big{
        @include request_input;
        font-size: 12px;
        width: 95%;
        margin: 20px 0;
      }
    }
    &__button{
      @include request_button;
      background: none;
      padding: 15px 55px;
      width: auto;
    }
  }
}