&__header{
  position: relative;
  display: flex;
  width: 100%;
  background: url("../img/header_background.png") top center no-repeat;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .header{

    &__title{
      color: #ffffff;
      font-family: "Futura Demi C";
      font-size: 36px;
      font-weight: 400;
      line-height: 22.93px;
      margin-top: 45px;
    }
    &__splash{
      width: 65px;
      height: 3px;
      border: 0 none;
      border-bottom: 3px solid $light_blue;
      margin: 25px 0;
    }
    &__crumbs{
      margin-bottom: 30px;
      position: relative;
      display: flex;
      width: max-content;

      & .crumbs{
        &__link{
          color: #ffffff;
          font-family: "Futura Book C";
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          text-decoration: none;
          &:hover{
            color: #00aeff;
          }
        }
        &__arrow{
          position: relative;
          display: flex;
          align-items: center;
          margin: 0 15px;
        }
        &__active{
          color: #aab0c1;
          font-family: "Futura Book C";
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          text-decoration: none;

        }
      }
    }
  }
}