&__partners{
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1170px;
  padding: 100px 0 70px;
  justify-content: space-between;

  & .partners{

    &__text{
      position: relative;
      display: flex;
      flex-direction: column;
      width: 55%;
    }
    &__title{
      color: $dark_blue;
      font-family: "Futura Demi C";
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
      margin-bottom: 20px;
    }
    &__desc{
      color: #636363;
      font-family: "Futura Book C";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 30px;
    }
    &__images{
      position: relative;
      display: flex;
      width: 40%;
      flex-direction: column;

      & .images{

        &__title{
          text-align: center;
          color: $dark_blue;
          font-family: "Futura Book C";
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
        }
        &__box{
          position: relative;
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-around;
          height: 100%;
          max-height: 180px;
          & img{
            position: relative;
            display: flex;
            align-items: center;
          }
        }
        &__splash{
          height: 1px;
          border: 0 none;
          border-bottom: 1px dashed #bebebe;
        }
      }
    }
  }
}