
&__sidebar{
  position: relative;
  display: flex;
  width: 100%;
  max-width: 270px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  & .sidebar{

    &__box{
      position: relative;
      display: flex;
      width: 100%;
      flex-direction: column;
      border: 1px solid #e9e9e9;
      height: auto;
      margin-bottom: 30px;

      & .box{

        &__title{
          @include sidebar_title;
        }

        &__categ{
          position: relative;
          display: flex;
          flex-direction: column;
          list-style: none;
          padding: 15px 30px 30px;
          & .categ{
            &__link{
              color: $dark_blue;
              font-family: "Futura Book C";
              font-size: 16px;
              font-weight: 400;
              line-height: 38px;
              text-decoration: none;
              & sup{
                font-size: 11px;
              }
              &:hover{
                font-weight: 600;
                & sup{
                  color: #00aeff;
                  font-weight: 300;
                  line-height: 38px;
                }
              }
            }
          }
        }
        &__price_form{
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 30px;

          & .price_form{

            &__range{
              outline: none;
              width: 100%;
              -webkit-appearance: none;
              background-color: rgba(233, 233, 233, 0);

              &::-webkit-slider-thumb {
                -webkit-appearance: none;
              }

              &:focus {
                outline: none; /* Убирает голубую границу у элемента. Хотя, возможно, и стоит создавать некоторое оформления для состояния фокуса в целях обеспечения доступности. */
              }

              &::-ms-track {
                width: 100%;
                cursor: pointer;
                background: transparent; /* Скрывает слайдер, чтобы можно было добавить собственные стили. */
                border-color: transparent;
                color: transparent;
              }

              &::-webkit-slider-thumb {
                -webkit-appearance: none;
                border: 0 solid rgba(0, 0, 0, 0);
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background: $light_blue;
                cursor: ew-resize;
                margin-top: -3px; /* Вам нужно указать значение для поля в Chrome, но в Firefox и IE это происходит автоматически */
                box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
              }

              &::-moz-range-thumb {
                cursor: ew-resize;
                box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
                border: 0 none;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background: #ffffff;
              }

              &::-ms-thumb {
                cursor: ew-resize;
                box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
                border: 0 none;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background: #ffffff;
              }

              &::-webkit-slider-runnable-track {
                width: 100%;
                height:8px;
                box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
                background: $light_blue;
                border-radius: 1.3px;
                border: 0 solid #010101;
              }

              &:focus::-webkit-slider-runnable-track {
                background: $light_blue;
              }

              &::-moz-range-track {
                width: 100%;
                height: 4px;
                box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
                background: $light_blue;
                border-radius: 1.3px;
                border: 0 solid #010101;
              }

              &::-ms-track {
                cursor: ew-resize;
                width: 100%;
                height: 2px;
                background: transparent;
                border-color: transparent;
                border-width: 16px 0;
                color: transparent;
              }
              &::-ms-fill-lower {
                background: $light_blue;
                border: 0 solid #010101;
                border-radius: 2.6px;
                box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
              }
              &:focus::-ms-fill-lower {
                background: $light_blue;
              }
              &::-ms-fill-upper {
                background: $light_blue;
                border: 0 solid #010101;
                border-radius: 2.6px;
                box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
              }
              &:focus::-ms-fill-upper {
                background: $light_blue;
              }

              &::-webkit-slider-runnable-track {
                height: 4px;
                -webkit-appearance: none;
                color: $light_blue;
                margin-top: -1px;
                background-color: rgb(233, 233, 233);
              }
              &::-moz-range-progress {
                background-color: $light_blue;
              }
              &::-moz-range-thumb {
                background: $light_blue;
              }
              &::-moz-range-track {
                background-color: #e9e9e9;
              }
              &::-ms-fill-lower {
                background-color: #e9e9e9;
              }
              &::-ms-fill-upper {
                background-color: $light_blue;
              }
            }
            &__range_value{
              color: #858585;
              font-family: "Futura Book C";
              font-size: 13px;
              font-weight: 400;
              line-height: 48px;
              & .rub_icon{
                font-size: 11px;
                margin-left: 1px;
              }
            }
            &__wrap{
              position: relative;
              display: flex;
              width: 100%;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 20px;
            }
            &__input{
              position: relative;
              display: flex;
              width: 48%;
              padding: 10px;
              border: 1px solid #e9e9e9;
            }
          }
        }

        &__catal{
          position: relative;
          display: flex;
          flex-direction: column;
          width: 100%;
          list-style: none;
          padding: 0 0 40px 0;
          & .put_in:after{
            position: relative;
            display: inline-block;
            content: url("../img/header/arrow.svg");
            margin-left: 10px;
            transform: translateY(-10%);
          }
          & li{
            position: relative;
            display: flex;
            flex-direction: column;
            padding-top: 30px;
            width: 100%;
          }

          & .catal{

            &__point{
              color: $dark_blue;
              font-family: "Futura Book C";
              font-size: 16px;
              font-weight: 400;
              line-height: 18px;
              text-decoration: none;
              margin: 0 30px 0 30px;
              width: calc(100% - 60px);
              &:hover{
                font-weight: 600;
              }
            }
            &__deep{
              position: relative;
              display: none;
              flex-direction: column;
              margin-top: 15px;
              padding: 0 0 30px 0;
              list-style: none;
              background-color: #f8f8f8;
              &.active{
                display: flex;
              }

              & li{
                padding-top: 20px;
              }
              & .deep{

                &__point{
                  color: $dark_blue;
                  font-family: "Futura Book C";
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 18px;
                  text-decoration: none;
                  margin: 0 30px 0 30px;
                  &:hover{
                    font-weight: 600;
                  }
                }
                &__down{
                  position: relative;
                  display: none;
                  width: 100%;
                  padding-left: 50px;
                  flex-direction: column;
                  &.active{
                    display: flex;
                  }
                  & .down{

                    &__point{
                      color: $dark_blue;
                      font-family: "Futura Book C";
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 18px;
                      text-decoration: underline;
                      &:hover{
                        font-weight: 600;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &__advert{
      position: relative;
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;

      & .advert{

        &__box{
          position: relative;
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          overflow: hidden;
        }
        &__act{
          position: absolute;
          display: flex;
          z-index: 400;
          top: -20px;
          left: -10px;
          color: #ffffff;
          font-family: "Futura Demi C";
          font-size: 18px;
          font-weight: 400;
          line-height: 20px;
          height: 90px;
          width: 90px;
          background-color: #39b61b;
          align-content: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 50%;
          text-align: center;
        }
        &__img{
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          z-index: 300;
        }
        &__desc{
          color: $dark_blue;
          font-family: "Futura Book C";
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          margin: 15px 0 20px;
        }
        &__button{
          @include button_feel;
          padding: 17px 0;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}