&__text{
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1170px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0 70px;

  & .text{

    &__title{
      @include section_title;
      margin-bottom: 60px;
    }
    &__desc{
      color: #636363;
      font-family: "Futura Book C";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 10px;
    }

    &__box{
      position: relative;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }
    &__list{
      position: relative;
      display: flex;
      width: 40%;
      flex-direction: column;
      padding: 0 0 30px;
      list-style: none;
      color: #636363;
      font-family: "Futura Book C";
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      &__title{
        padding-bottom: 15px;
        line-height: 24px;
      }
    }
    &__button{
      &--blue{
        @include button_empty-blue;
      }
    }
    &__subtitle{
      margin: 20px 0;
      text-align: center;
      color: $dark_blue;
      font-family: "Futura Demi C";
      font-size: 30px;
      font-weight: 400;
      line-height: 38px;
      & a{
        color: $light_blue;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}