.form{
  position: relative;
  display: flex;
  margin: 30px auto 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-row{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &-item{
    padding: 10px;
    font-size: 1.4rem;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px black;
  }
  &-btn{
    font-size: 1.5rem;
    font-weight: bold;
    width: max-content;
    margin-top: 10px;
    border-radius: 25px;
    padding: 10px 20px;
    border: 0 none;
    box-shadow: 1px 1px 3px black;
    background: #fbae00;
    color: white;
    cursor: pointer;
  }
}