@import "../font/ubuntu.css";
html{
    font-size: 10px;
    box-sizing: border-box;
}
body{
    position: relative;
    margin: 0;
    font-family: 'Ubuntu';
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
}
form,input,select,button{
    outline: none;
}
header,main,footer,section{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 10;
}
header {
    background-color: rgba(0,0,0,.5);
    z-index: 20;
}
h2{
    font-size: 3.6rem;
    margin-top: 0;
}
input:focus {
    box-shadow: 0 0 5px 0 rgba(240, 243, 253, 0.9);
    transition: .3s;
}
input{
    transition: .3s;    
}
.main_header{
    background: url("../img/bg-main.jpg") center no-repeat;
    background-size: cover;
    z-index: 20;
}
.contain{
    position: relative;
    display: flex;
    width: 1170px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: -moz-min-content;
}
.main_header .contain{
    margin: 2rem auto 1rem;
}
.top_head{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    height: 10rem;
    justify-content: space-between;
}
.logo_head{
    position: relative;
    display: flex;
    width: 210px;
    justify-content: center;
    align-items: center;
}
.logo_head img{
    width: 100%;
}
.calc_head{
    position: relative;
    display: flex;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    border: 3px solid #5ec57e;
}
.calc_href{
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}
.calc_href:hover{
    text-decoration: underline;
    background-color: #5ec57e;
    transition: 0.4s;
}
.tel_head{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top_tel{
    font-size: 1.8rem;
    color: white;
    font-weight: 300;
}
.top_callback{
    font-size: 1.8rem;
    font-weight: 700;
}
.top_callback a{
    color: #5ec57e;
    text-decoration: underline;
    transition: 0.4s;
}
.top_callback a:hover{
    text-decoration: none;
    transition: 0.4s;
}
.nav_head{
    position: relative;
    display: flex;
    width: 100%;
}
nav{
    position: relative;
    display: flex;
    width: 100%;
}
.menu{
    position: relative;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
}
.menu li {
    padding: 1rem 0.5rem;
    margin: 0.5rem 0;
    width: auto;
}
.menu li a{
    color: #fff;
    text-decoration: none;
    line-height: 20px;
    font-size: 1.8rem;
    padding: 1rem;
}
.menu li .nav_hover {
    position: absolute;
    display: flex;
    bottom: 5px;
    width: 55px;
    border-top: 3px solid #5ec57e;
    opacity: 0;
    transition: 0.6s;
    margin-left: 10px;
}
.menu li a:hover+.nav_hover{
    opacity: 1;
    transition: 0.6s;
}
.nav{
    background-color: rgba(0,0,0,.5);
    position: fixed;
    z-index: 11;
    top: 0;
}
#top-menu{
    display: flex;
    width: 1170px;
    margin: 0 auto;
}
.active {
    background-color: #5ec57e;
    transition: 0.6s;
}

.main_request .top_txt{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}
.main_request .top_txt h1{
    font-size: 5.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.main_request .top_txt span{
    font-size: 3.6rem;
}
.main_request .top_txt:after{
    content: '';
    width: 100px;
    height: 4px;
    background-color: white;
    margin-top: 2rem;
}
.main_request .top_request{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.main_request .left_txt li{
    color: white;
    font-size: 2.2rem;
    line-height: 3.2rem;
}
.main_request .right_request{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    background: rgba(0,0,0,.5);
    border: 3px solid #5ec57e;
    padding: 0 1rem;
}
.main_request .right_request span{
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    margin: 2rem 0 0;
}
.main_request .right_request ul{
    padding-left: 20px;
    color: white;
    font-size: 1.8rem;
    line-height: 2.4rem;
}
.main_request .right_request form{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    width: 100%;
    height: 90px;
}
.main_request .form_inpt{
    padding: 1rem;
    font-size: 1.5rem;
    border: 3px solid #5ec57e;
    background: none;
    color: #fff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    margin-bottom: 1rem;
}
.main_request .form_inpt:focus{
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.75);
}
.btn{
    padding: 1.4rem;
    font-size: 1.5rem;
    color: white;
    background:#5ec57e;
    border: 0 none;
}
.btn:hover{
    cursor: pointer;
    font-size: 1.6rem;
}
.btn:active{
    background: red;
    transition: 0.3s;
}
.contain{
    margin: 8rem auto 4rem;
}
.foundation_types h2, .foundation_for h2{
    font-size: 3.6rem;
    margin-top: 0;
}
.foundation_boxes{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}
.foundation_box{
    position: relative;
    display: flex;
    width: 23%;
    margin: 1% auto;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    background: #f2f2f2;
    border: 2px solid #5ec57e;
    align-items: center;
}
.foundation_img{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.foundation_img img{
    width: 100%;
}
.foundation_img span{
    position: absolute;
    top: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px 5px black;
    text-align: center;
}
.foundation_for .more_btn{
    margin: 1rem auto;
}
.more_btn{
    font-size: 1.6rem;
    border: 2px solid #5ec57e;
    color: #5ec57e;
    cursor: pointer;
    width: 75%;
    text-align: center;
    text-decoration: none;
    padding: 1rem 0;
    margin-top: 1rem;
    transition: .2s;
}
.more_btn:hover{
    background-color: #5ec57e;
    text-decoration: underline;
    color: white;
    transition: .2s;

}
.a_btn{
    background-color: #5ec57e;
    border: 2px solid #5ec57e;
    text-decoration: none;
    font-size: 1.6rem;
    width: 75%;
    padding: 1rem 0;
    margin: 1rem auto;
    text-align: center;
    color: white;
    transition: .2s;
}
.a_btn:hover{
    color: red;
    width: 80%;
    transition: .2s;
    padding: 1.2rem 0;
    margin: 0.8rem auto;
}
.r_one{
    background: url("../img/bg-how.jpg") center no-repeat;
    background-size: cover;
}
.request{
    margin: 2rem auto;
}
.request h2{
    font-size: 3.6rem;
    text-align: center;
    font-weight: 600;
    color: white;
    margin: 4rem auto;
}
.request span {
    font-size: 2.2rem;
    text-align: center;
    color: white;
}
.request form{
    margin: 4rem auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.request input{
    width: 25%;
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    background-color: rgba(0,0,0,.4);
    border: 2px solid #5ec57e;
    color: white;
}
.request input[type="submit"]{
    background: #5ec57e;
    color: white;
}
.request input[type="submit"]:hover{
    font-size: 1.6rem;
    padding: 1.35rem 2rem;
    cursor: pointer;
}
.calc{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foundation_contain{
    width: 100%;
    background: #f2f2f2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foundation_for{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.md-overlay {
    background: rgba(0, 0, 0, 0.5) !important;
}
.md-content{
    background: #ffffff00;
}
.md-content > div{
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.md-content > div img{
    width: 100%;
}
.md-content button{
    position: absolute;
    top: -15px;
    right: -15px;
}
.md-close{
    width: 30px;
    border-radius: 50%;
    height: 30px;
    opacity: 1;
    z-index: 999;
    border: 0 none;
    background: #5ec57e;
}
.md-close:before, .md-close:after {
    position: absolute;
    left: 14px;
    content: ' ';
    top: 3px;
    height: 24px;
    width: 3px;
    background-color: #333;
}
.md-close:before {
    transform: rotate(45deg);
}
.md-close:after {
    transform: rotate(-45deg);
}
#btn_trig_one{
    background: url("../img/work4-4.jpg") center no-repeat;
    width: 100%;
    height: 100%;
}
.carousel{
    position: relative;
    display: flex;
    width: 100%;
}
.work_ex{
    background: white;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: stretch;
}
.work_box{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}
.work_img{
    position: relative;
    display: flex;
    width: 45%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.work_about{
    position: relative;
    display: flex;
    width: 50%;
    height: auto;
    justify-content: space-around;
    flex-direction: column;
}
.about_boxes{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: stretch;
}
.about_box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    width: 20%;
    background-color: #f2f2f2;
    border: 2px solid #5ec57e;;
    height: auto;
}
.work_about span{
    font-size: 2rem;
}
.about_box span{
    font-size: 1.6rem;
    text-align: center;
}
.work_feed{
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work_feed h3{
    font-size: 2.4rem;
}
.work_feedback{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.img_feed{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
}
.img_feed img{
    width: 150px !important;
}
.txt_feed{
    position: relative;
    display: flex;
    width: 80%;
    font-size: 1.8rem;
}
span.lupa{
    height:40px;
    width:40px;
    display:block;
    position:absolute;
}
.lupa:before, .lupa:after{
    content:'';
    height:20px;
    display:block;
    position:absolute;
    top:0;
    left:0; }

.lupa:before{
    width:20px;
    border:3px rgba(237, 237, 237, 0.6) solid;
    border-radius:100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    transition: .5s;
}
.lupa.l_black:before{
    border:3px rgba(0, 0, 0, 0.6) solid;
}
.lupa:after{
    width:7px;
    background: rgba(237, 237, 237, 0.6);
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    top:17px;
    left:24px;
    transition: .5s;
}
.lupa.l_black:after{
    background: rgba(0, 0, 0, 0.6);
}
.work_img:hover{
    cursor: pointer;
}
.work_img:hover>.lupa:before{
    border:3px rgb(237, 237, 237) solid;
    transition: .5s;
}
.work_img:hover>.lupa:after{
     background: rgb(237, 237, 237);
     transition: .5s;
}
.r_two{
    background: url("../img/bg-want.jpg") center no-repeat;
    background-size: cover;;
}
.foundation_works .foundation_box{
    width: 30%;
    margin: 2% auto;
}
.why{
    background: #f2f2f2;
}
.why_cont{
    margin-bottom: 8rem;
}
.why_boxes{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: start;
}
.why_box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 13%;
}
.why_img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    background: white;
    border: #5ec57e 2px solid;
}
.why_box span{
    font-size: 1.8rem;
    margin-top: 2rem;
    font-weight: 300;
    text-align: center;
}
.why_box span b{
    font-weight: 600;
}
.steps_boxes{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.steps_box{
    position: relative;
    display: flex;
    width: 55%;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 1.5rem auto;
    height: max-content;
}
.steps_box img{
    width: 100%;
}
.stage-1{
    width: 25%;
}
.stage-2{
    width: 35%;
}
.steps_box span{
    position: absolute;
    color: white;
    font-size: 5rem;
    top: 0;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.stage-1 span{
    font-size: 3rem;
}
.stage-2 span{
    font-size: 4rem;
}
.r_three{
    background: url("../img/bg-form.jpg") center no-repeat;
    background-size: cover;
}
.stage-1:nth-of-type(1):after,.stage-1:nth-of-type(2):after,.stage-2:nth-of-type(1):after{
    content: url("../img/arrow.png");
    margin-left: 68.5%;
    position: absolute;
    left: 125px;
}
.stage-2:nth-of-type(4):after{
    content: url("../img/arrow.png");
    margin-left: 72.5%;
    position: absolute;
    left: 180px;
}
.certificates_box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.certificates_box:hover{
    cursor: pointer;
}
.certificates_box:hover>.lupa.l_black:before{
    border:3px rgb(0, 0, 0) solid;
}
.certificates_box:hover>.lupa.l_black:after{
    background: rgb(0, 0, 0);
}
.certificates span{
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: 2rem;
}
.people{
    background: #f2f2f2;
}
.people_boxes{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}
.people_box{
    position: relative;
    display: flex;
    width: 27%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border: #5ec57e solid 2px;
    background: white;
}
.people_img{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.people_img img{
    width: 45%;
}
.people_box h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.people_box span{
    font-size: 2rem;
}
.faq-wrap{
    position: relative;
    width: 90%;
    display: flex;
    margin: 1rem auto;
}
.faq-box{
    position: relative;
    display: flex;
    background: #f2f2f2;
    cursor: pointer;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.faq-title{
    font-weight: bold;
    font-size: 2rem;
    color: #000;
    text-align: center;
    border: 2px solid #5ec57e;
    margin: 0;
    padding: 1%;
    width: 98%;
}
.selected{
    background: #5ec57e;
    color: white;
}
.selected+.faq-txt{
    display: flex;
}
.faq-txt{
    display: none;
}
.faq-txt{
    position: relative;
    width: 90%;
    justify-content: center;
    align-items: center;
    padding: 2%;
    font-size: 1.8rem;
}
.faq-title:before {
    content: '';
    height: 25px;
    width: 25px;
    display: block;
    border: 2px solid #5ec57e;
    border-right-width: 0;
    border-top-width: 0;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    left: 20px;
    top: 5px;
}
.faq-title.selected:before{
    border: 2px solid #fff;
    border-left-width: 0;
    border-bottom-width: 0;
    top: 23px;
}
.r_four{
    background: url("../img/bg-last.jpg");
}
.footer{
    background: #383838;
    position: relative;
    display: flex;
    justify-content: center;
}
.contain_foot{
    margin: 4rem 0 2rem;
    width: 1170px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    height: -moz-min-content;
}
.logo_foot{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo_foot span{
    font-size: 1.7rem;
    color: #fff;
}
.img_foot{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}
.tel_foot{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.calc_form{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
}
.main_box{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.left_box{
    position: relative;
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: flex-start;
}
.left_box select{
    position: relative;
    width: 75%;
    margin: 2%;
    font-size: 1.4rem;
    padding: 1rem;
    border: 3px solid #5ec57e;
    background-color: #f0f3fd;
    cursor: pointer;
}
.left_box span{
    font-size: 1.6rem;
    margin: 2%;
}
.left_box select>option{
    background-color: #fff;
}
.left_box select>option:checked{
    background-color: #e6e6e6;
}
.left_box .foundation_forms{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
}
.left_box label{
    position: relative;
    display: flex;
    font-size: 1.6rem;
    margin-left: 1rem;
}
.choises{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.foundation_forms span{
    font-size: 1.6rem;
}
.right_box{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: center;
    justify-content: flex-start;
}
.choice a{
    position: relative;
    width: 100%;
    height: 100%;
}
.choice a:before{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border: 3px solid black
}
.selected_a:after{
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    background: black;
    left: 6px;
    top:-53px;
}
.right_box_img{
    position: relative;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    border: 3px solid #5ec57e;
    padding: 0 3rem;
}
.right_box_img img{
    width: 100%;
}
.labels{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 3%;
}
.labels label{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15%;
    font-size: 1.7rem;
    text-align: center;
}
.labels input{
    border: 3px solid #5ec57e;
    background-color: #f0f3fd;
    text-align: center;
    margin: 5%;
    padding: 0.5rem 0;
    font-size: 1.6rem;
}
.req_box{
    margin: 2% auto;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.req_box input{
    border: 3px solid #5ec57e;
    background-color: #f0f3fd;
    padding: 1.5rem 2rem;
    font-size: 1.4rem;
    color: black;
    width: 25%;
}

.req_box input[type="submit"]{
    background: #5ec57e;
    color: white;
}
.req_box input[type="submit"]:hover{
    font-size: 1.6rem;
    padding: 1.35rem 2rem;
    cursor: pointer;
}
.owl-nav{
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -30px;
}
.owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 25px solid #5ec57e;
    border-bottom: 30px solid transparent;
    left: -50px;
}

.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 25px solid #5ec57e;
    border-bottom: 30px solid transparent;
    right: -50px;
}
.owl-carousel .owl-nav button:active{
    border-left-color: red;
    border-right-color: red;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 110;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
    width: 100%;
}
.modalDialog:target {
    display: block;
    pointer-events: auto;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}
.modalDialog > div {
    width: 30%;
    min-width: 540px;
    position: relative;
    margin: 20vh auto;
    border-radius: 10px;
    background: white;
    color: black;
}
.close {
    background: white;
    color: #000000;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    height: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px 1px #000;
    -webkit-box-shadow: 1px 1px 3px 1px #000;
    box-shadow: 1px 1px 3px 1px #000;
}

.close:hover {
    background: #5ec57e;
    color: #000;
}
.close:before{
    content: '';
    position: absolute;
    top: 11px;
    width: 18px;
    height: 3px;
    background-color: black;
    left: 3px;
    transform: rotate(50grad);
}
.close:after{
    content: '';
    position: absolute;
    top: 11px;
    width: 18px;
    height: 3px;
    background-color: black;
    left: 3px;
    transform: rotate(-50grad);
}
.backcall{
    position: relative;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
.backcall .call-modal-h2{
    position: relative;
    text-align: center;
}
.modalDialog form, .modalDialog form input [type="hidden"]{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modalDialog .inp-req{
    position: relative;
    width: 80%;
    padding: 2%;
}
.modalDialog input{
    position: relative;
    width: 90%;
    font-size: 14px;
    padding: 5%;
    border: 3px solid #5ec57e;
}
.modalDialog .inp-req .btn{
    width: 100% !important;
    font-weight: 600;
    height: 60px;
}
.modalDialog .inp-req .btn:hover{
    cursor: pointer;
}
.modalDialog .inp-req .btn:active{
    background-color: red;
}
#result .btn{
    width: 96% !important;
    padding: 3%;
}
.backcall p{
    position: relative;
    text-align: center;
    font-size: 1.5rem;
}
.back_for_found{
    position: relative;
    display: flex;
}
.modalDialog.callback_foundation > div{
    width: 45%;
}
.back_for_found_img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalDialog.callback_found_type > div{
    width: 70%;
    margin: 5vh auto;
}
.back_type_found{
    position: relative;
    display: flex;
    flex-direction: column;
}
.back_type_found_txt{
    width: 65%;
}
.back_type_found_img{
    width: 34%;
}
.back_type_found_img img{
    width: 100%;
}
.back_type_found_box{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.modalDialog.callback_found_type form{
    flex-direction: row;
}
.modalDialog.callback_found_type input{
    height: 30px;
    padding: 12px;
}
.back_type_found_plus{
    list-style: url("../img/ic-posit.png");
}
.back_type_found_minus{
    list-style: url("../img/ic-negat.png");
}
.back_type_found_txt ul{
    font-size: 1.5rem;
    line-height: 1.9rem;
}