@media screen and (max-width: 1279px){
    .owl-nav{
        display: none;
    }
}
@media screen and (max-width: 1170px){
    html{
        font-size: 9px;
    }
    .contain{
        width: 95%;
    }
    .contain_foot {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1070px){
    .menu li a {
        font-size: 1.5rem;
        padding: 0;
    }
}
@media screen and (max-width: 768px){
    .modalDialog > div {
        width: 90%;
        min-width: 0px;
    }
    nav{
        display: none;
    }
    h2{
        text-align: center;
    }
    .foundation_box{
        width: 45% !important;
    }
    .main_box{
        align-items: center;
        flex-direction: column;
    }
    .left_box{
        width: 75%;
    }
    .right_box{
        margin-top: 2rem;
    }
    .work_ex{
        align-items: center;
        flex-direction: column;
    }
    .work_img{
        width: 75%;
    }
    .work_about{
        margin-top: 2rem;
        width: 75%;
    }
    .txt_feed{
        width: 70%;
    }
    .why_boxes{
        flex-wrap: wrap;
    }
    .why_box{
        width: 30%;
        margin: 1%;
    }
    .owl-nav{
        display: block;
    }
    .owl-carousel .owl-nav button.owl-next {
        right: 0;
    }
    .owl-carousel .owl-nav button.owl-prev {
        left: 0;
    }
    .back_for_found{
        flex-direction: column;
        align-items: center;
    }
    .back_type_found_box{
        flex-direction: column;
        align-items: center;
    }
    .back_type_found_img{
        width: 55%;
    }
    .back_type_found_txt{
        width: 90%;
    }
    .modalDialog.callback_foundation > div{
        margin: 5vh auto;
    }
    .back_type_found_txt ul{
        font-size: 1.3rem;
        line-height: 1.4rem;
    }
    .backcall p{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 425px){
    .top_head {
        height: auto;
        flex-direction: column;
    }
    .top_head>div{
        margin: 2% auto;
    }
    .main_request .top_txt h1 {
        font-size: 4rem;
    }
    .main_request .top_txt span {
        font-size: 2.8rem;
    }
    .main_request .top_request{
        flex-direction: column;
    }
    .main_request .left_txt li {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .main_request .right_request {
        margin: 3rem auto;
        width: 90%;
    }
    .foundation_box {
        width: 95%;
    }
    .request form{
        margin: 2rem auto;
        flex-direction: column;
        align-items: center;
    }
    .request input {
        width: 65%;
        margin: 2% auto;
    }
    .left_box select {
        width: 100%;
    }
    .labels{
        flex-wrap: wrap;
    }
    .labels label {
        width: 45%;
    }
    .req_box {
        flex-direction: column;
        align-items: center;
    }
    .req_box input {
        width: 65%;
        margin: 2% auto;
    }
    .foundation_types h2, .foundation_for h2 {
        font-size: 3.4rem;
    }
    .about_boxes {
        flex-direction: column;
    }
    .about_box {
        margin: 2% auto;
        padding: 1.5rem 0;
        width: 100%;
    }
    .work_feed {
        display: none;
    }
    .foundation_box{
        width: 85% !important;
    }
    .why_box {
        width: 45%;
    }
    .steps_box{
        width: 80%;
    }
    .stage-1:nth-of-type(1):after, .stage-1:nth-of-type(2):after, .stage-2:nth-of-type(1):after {
        display: none;
    }
    .stage-2:nth-of-type(4):after{
        display: none;
    }
    .people_box h3{
        text-align: center;
    }
    .faq-title:before{
        display: none;
    }
    .contain_foot {
        width: 90%;
        flex-direction: column;
    }
    .people{
        display: none;
    }
    .modalDialog.callback_found_type > div, .modalDialog.callback_foundation > div{
        width: 93%;
        min-width: 320px;
        margin-top: 2vh;
    }
    .modalDialog.callback_found_type form{
        flex-direction: column;
    }
}